
#header_sub_brandstory{
    width: 100%; height: 80px; position: relative; background: rgb(166, 166, 141);
    .inner{
        width: 1180px; height: 100%; 
        position: absolute; top: 0%; left: 0%; bottom: 0%; right: 0%;
        margin: auto;
        .wrap{
            position: absolute; top: 20px; left: 0;
            a{
                img{
                    width: 7vw; opacity: 0.8;
                }
            }
        }
        .menuWeb{
            width: 100%;
            #gnb{
                position: absolute; top: 20px; right: 0;
                li{
                    float: left;
                    a{
                        display: block; 
                        padding-bottom: 10px;
                        margin: 14px 60px;
                        font-size: 20px;
                        font-family: 'Karla';
                        line-height: 1;
                        color: #efefef;
                        position: relative;
                        &:last-child{
                            margin-right: 0px;
                        }
                        &::before{
                            content: '';
                            position: absolute; bottom: 0;
                            background-color: #fff;
                            height: 2px;
                            width: 0;
                            transition: 0.7s;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .util{
            position: absolute; top: 0; right: 0;
        }
    }
}


.brandstory{
    .sub_visual{
        img{
            width: 100%; height: 100%;
            object-fit: cover;
        }
    }
    .inner{
        border-top: 2px solid rgb(166, 166, 141) ;
        .subtitle{
            border: 1px solid rgb(166, 166, 141);
        }

        
    }

    

}

