@charset "utf-8";
@import "reset.scss";
fieldset{border: none;}
table{border-collapse: collapse;}
.hidden{position: absolute; top: -999999px; opacity: 0;}

#header_sub_join{
    width: 100%; height: 80px; position: relative; background: rgb(104, 192, 214);
    .inner{
        width: 1180px; height: 100%; 
        position: absolute; top: 0%; left: 0%; bottom: 0%; right: 0%;
        margin: auto;
        .wrap{
            position: absolute; top: 20px; left: 0;
            a{
                img{
                    width: 7vw; opacity: 0.8;
                }
            }
        }
        .menuWeb{
            width: 100%;
            #gnb{
                position: absolute; top: 20px; right: 0;
                li{
                    float: left;
                    a{
                        display: block; 
                        padding-bottom: 10px;
                        margin: 14px 60px;
                        font-size: 20px;
                        font-family: 'Karla';
                        line-height: 1;
                        color: #efefef;
                        position: relative;
                        &:last-child{
                            margin-right: 0px;
                        }
                        &::before{
                            content: '';
                            position: absolute; bottom: 0;
                            background-color: #fff;
                            height: 2px;
                            width: 0;
                            transition: 0.7s;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .util{
            position: absolute; top: 0; right: 0;
        }
    }
}

.join{
    width: 100%;
    .sub_visual{
        img{
            width: 100%; height: 100%;
            object-fit: cover;
        }
    }
    .inner{
        width: 1180px;

        table{
            border-bottom: 2px solid #333;
            margin-top: 100px;

            th,td{border-bottom: 1px solid #ddd; padding: 15px 25px;}

            th{
                width: 20%;
               input[type=reset],input[type=submit]{
                width: 30%; height: 40px;
                border: 1px solid #333; margin: 10px;
                font: bold 14px/40px 'Gowun Dodum'; color: #555; letter-spacing: 2px;
                cursor: pointer; transition: 0.5s;
                &:hover{
                    background: #333; color: #fff;
                }
               }
            }
            td{
                border-left: 1px solid #aaa;

                input[type=text], input[type=password],select{
                    width: 60%; background: rgba(0,0,0,0.03);
                    padding: 10px; 
                    border: 1px solid #aaa;
                }
                input[type=radio], input[type=checkbox]{
                    margin-right: 30px;
                }
                textarea{
                    resize: none;
                    width: 60%; height: 150px;
                    background: rgba(0,0,0,0.03);
                    padding: 10px;
                    border: 1px solid #aaa;
                }

                p{
                    font: 11px/1 "Gowun Dodum";
                    color: hotpink; margin-top: 5px;
                }
            }
        }
    }
}