@charset "utf-8";
@import "reset.scss";
fieldset{border: none;}
table{border-collapse: collapse;}
.hidden{position: absolute; top: -999999px; opacity: 0;}

#header_sub_join{
    width: 100%; height: 80px; position: relative; background: rgb(104, 192, 214);
    .inner{
        width: 1180px; height: 100%; 
        position: absolute; top: 0%; left: 0%; bottom: 0%; right: 0%;
        margin: auto;
        .wrap{
            position: absolute; top: 20px; left: 0;
            a{
                margin-left: 30px;
                img{
                    width: 7vw; opacity: 0.8;
                }
            }
        }
        .menuWeb{
            width: 100%;
            #gnb{
                position: absolute; top: 20px; right: 150px;
                li{
                    float: left;
                    a{
                        display: block; 
                        padding-bottom: 10px;
                        margin: 14px 60px;
                        font-size: 20px;
                        font-family: 'Karla';
                        line-height: 1;
                        color: #efefef;
                        position: relative;
                        &:last-child{
                            margin-right: 0px;
                        }
                        &::before{
                            content: '';
                            position: absolute; bottom: 0;
                            background-color: #fff;
                            height: 2px;
                            width: 0;
                            transition: 0.7s;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .util{
            position: absolute; top: 50%; right: 0; transform: translateY(-50%);
            li{
                float: left; padding-left: 20px;
                a{
                    font-size: 25px;
                    color: #dfdfdf;
                }
            }
        }
        .btnCall{
            width: 20px; height: 20px;
            position: fixed;
            top: 30px; right: 20px;
            z-index: 999;
            display: none;


            &::before{
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 0; left: 0;
                transition: 0.5s;
                
            }
            &::after{
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; bottom: 0; left: 0px;
                transition: 0.5s;  
            }
            span{
                display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 50%; left: 0px;  margin-top: -1px;
                text-indent: -99999px;
                
            }

            &.on{

                &::before{
                    top: 50%;
                    transform: rotate(45deg);
                    margin-top: -1px;
                    transition: 0.5s;
                }
                &::after{
                    bottom: 50%;
                    transform: rotate(-45deg);
                    margin-bottom: -1px;
                    transition: 0.5s;
                }
                span{
                    display: none;
                }
            }
        }

        .menuMo{
            width: 300px; height: 100vh; background-color: rgba(171, 188, 207, 0.8) ;
            position: fixed; top: 0px; left: -700px;
            z-index: 20;
            transition: 0.5s;
            &.on{
                left: 0px;
            }
            h1{
                padding-top: 50px; padding-left: 10px;
                border-bottom: 3px solid #efefef;
                width: 100%;
                text-align: center;
                a{
                    img{
                        width: 100px;
                        margin-bottom: 10px;
                    }
                }
            }

            #gnbMo{
                li{
                    a{
                        display: block;
                        width: 100%; padding: 30px;
                        border-bottom: 1px solid #fff;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: 'Karla';
                        color: #fff;
                        text-align: center;
                        &:hover{
                            background: #999;
                        }
                    }

                }
            }
            #utilMo{
                width: 100%;
                display: flex;
                position: absolute; bottom: 0;
                li{
                    width: 100%;
                    a{
                        display: block;
                        width: 100%; padding: 30px;
                        border-bottom: 1px solid #fff;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: 'Karla';
                        color: #fff;
                        text-align: center;
                        background: #999;
                        opacity: 0.8;

                        &:hover{
                            background: rgba(171, 188, 207, 0.8);
                        }
                    }
                }
            }
        }
    }
}

.join{
    width: 100%;
    .sub_visual{
        img{
            width: 100%; height: 100%;
            object-fit: cover;
        }
    }
    .inner{
        width: 1180px;


        #member{

            table{
                margin: 0 auto;
                margin-top: 100px;
    
                th,td{
                    border-bottom: 1px solid rgb(104, 192, 214); 
                    padding: 15px 15px;
                    color: #888;
                }
    
                th{
                    width: 20%;
                   input[type=reset],input[type=submit]{
                    width: 30%; height: 40px;
                    margin: 10px;
                    font: bold 14px/40px 'arial'; color: #000; letter-spacing: 2px;
                    cursor: pointer; transition: 0.5s;
                    &:hover{
                        background: #333; color: #fff;
                    }
                   }
                }
                td{
    
                    input[type=text], input[type=password],select{
                        width: 60%; background: rgba(104, 192, 214,0.2);
                        padding: 10px; 
                        border: 1px solid #fff;
                    }
                    input[type=radio], input[type=checkbox]{
                        margin-right: 30px;
                    }
                    textarea{
                        resize: none;
                        width: 60%; height: 150px;
                        background: rgba(0,0,0,0.03);
                        padding: 10px;
                        border: 1px solid #aaa;
                    }
    
                    p{
                        font: 11px/1 "Gowun Dodum";
                        color: hotpink; margin-top: 5px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1179px){
    #header_sub_join{
        width: 100%;
        .inner{
            width: 100%; height: 100%; 
            .wrap{
                position: absolute; top: 25px; left: 50%; transform: translateX(-50%);
                transition: 0.5s;
                a{
                    img{
                        width: 150px;
                    }
                }
            }
            .menuWeb{
                display: none;    
            }
    
            .btnCall{
                display: block;
            }
        }
    } 
}