
#header_sub_store{
    width: 100%; height: 80px; position: relative; background: rgb(118, 107, 86);
    .inner{
        width: 1180px; height: 100%; 
        position: absolute; top: 0%; left: 0%; bottom: 0%; right: 0%;
        margin: auto;
        .wrap{
            position: absolute; top: 20px; left: 0;
            a{
                img{
                    width: 7vw; opacity: 0.8;
                }
            }
        }
        .menuWeb{
            width: 100%;
            #gnb{
                position: absolute; top: 20px; right: 0;
                li{
                    float: left;
                    a{
                        display: block; 
                        padding-bottom: 10px;
                        margin: 14px 60px;
                        font-size: 20px;
                        font-family: 'Karla';
                        line-height: 1;
                        color: #efefef;
                        position: relative;
                        &:last-child{
                            margin-right: 0px;
                        }
                        &::before{
                            content: '';
                            position: absolute; bottom: 0;
                            background-color: #fff;
                            height: 2px;
                            width: 0;
                            transition: 0.7s;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .util{
            position: absolute; top: 0; right: 0;
        }
    }
}

.store{
    width: 100%;

    .sub_visual{
        img{
            width: 100%; height: 100%;
            object-fit: cover;
        }
    }

    .inner{
        border-top: 2px solid rgb(118, 107, 86) ;
        .subtitle{
            border: 1px solid rgb(118, 107, 86);
        }

        #map{
            float: left;
            width: 80%; height: 500px;
            border: 1px solid rgb(118, 107, 86);
            margin-bottom: 20px;
            margin-top: 50px;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px #999;
        }
        &::after{content: ''; display: block; clear: both;}
    
        .traffic{
            margin-top: 50px; float: right;
            li{
                margin-bottom: 30px;
                a{
                    display: block;
                    width: 200px; height: 40px; background: rgb(118, 107, 86);
                    font-size: 15px;
                    line-height: 40px;
                    font-family: 'Tajawal';
                    font-weight: 300;
                    color: #fff;
                    text-align: center;
                    border-radius: 10px;
                    transition: 0.5s;
                    &:hover{
                        background: #fff;
                        color: rgb(118, 107, 86);
                        border: 1px solid rgb(118, 107, 86);
                    }
                }
            }
        }
    
        .branch{
            margin-top: 130px; float: right;
            li{
                margin-bottom: 20px;
                a{
                    display: block;
                    width: 200px; height: 40px; 
                    font-size: 15px;
                    line-height: 40px;
                    font-family: 'Tajawal';
                    font-weight: 300;
                    color: rgb(118, 107, 86);
                    text-align: center;
                    border: 1px solid rgb(118, 107, 86);
                    border-radius: 10px;
                    transition: 0.5s;
                    &:hover{
                        color: #fff;
                        background: rgb(118, 107, 86);
                    }
                }
            }
        }


    }



}