@charset "UTF-8";
@import "reset.scss";

#header_sub{
    width: 100%; height: 80px; position: relative; background: rgb(123, 165, 213);
    box-shadow: 0px 0px 20px 0px rgb(123, 165, 213);
    .inner{
        width: 1180px; height: 100%; 
        position: absolute; top: 0%; left: 0%; bottom: 0%; right: 0%;
        margin: auto;
        .wrap{
            position: absolute; top: 20px; left: 0;
            a{
                img{
                    width: 7vw; opacity: 0.8;
                }
            }
        }
        .menuWeb{
            width: 100%;
            #gnb{
                position: absolute; top: 20px; right: 0;
                li{
                    float: left;
                    a{
                        display: block; 
                        padding-bottom: 10px;
                        margin: 14px 60px;
                        font-size: 20px;
                        font-family: 'Karla';
                        line-height: 1;
                        color: #efefef;
                        position: relative;
                        &:last-child{
                            margin-right: 0px;
                        }
                        &::before{
                            content: '';
                            position: absolute; bottom: 0;
                            background-color: #fff;
                            height: 2px;
                            width: 0;
                            transition: 0.7s;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .util{
            position: absolute; top: 0; right: 0;
        }
    }
}

.content{
    width:100%; padding:0 0 150px; 

    .sub_visual{
        width:100%; height:250px; background:rgb(207, 223, 250); 
        margin-bottom:80px; 
    }
    .inner{
        width:1180px; margin:0 auto; 
        min-height:500px; 
        border-top: 2px solid rgb(123, 165, 213) ;
        position: relative;
        .subtitle{
            position: absolute; top: -40px; left: 50%; transform: translateX(-50%);
            font-size: 50px;
            font-family: 'Tajawal';
            font-weight: 200;
            text-shadow: 1px 1px 2px #999;
            color: #555;
            background: #fff;
            padding: 0px 20px;
            border: 1px solid rgb(123, 165, 213);
            border-radius: 50px;
        }
    }
}

#footer_sub{
    width: 100%; background-color: #cfcfcf;
    .inner{
        width: 1180px; margin: 0 auto; padding: 50px 0px;
        ul{
            width: 100%;
            border-bottom: 1px solid #999;
            display: flex; justify-content: right;
            padding-bottom: 10px;
            margin-bottom: 20px;
            li{ margin-right: 20px;
                a{
                font-size: 15px;
                font-family: 'Tajawal';
                font-weight: bold;
                color: #777;
                }
            }
        }
        .wrap{
            display: flex; justify-content: space-between;
            width: 100%;
            .pic{
                width: 220px; margin-right: 20px;
                img{
                    width: 150px;
                    padding: 10px;
                }
            }
            article{
                width: 220px;
                &:nth-of-type(1){
                    text-align: right;
                    h4{
                        font-size: 15px;
                        font-family:'Tajawal';
                        font-weight: bold;
                        line-height: 2;
                        color: #777;
                    }
                }
                &:nth-of-type(2){
                    p{
                        font-size: 15px;
                        font-family: 'Frank Ruhl Libre';
                        line-height: 2;
                    }
                }
                &:nth-of-type(4){
                    h4{
                        font-size: 20px;
                        font-family: 'Tajawal';
                        color: #555;
                    }
                    h3{
                        font-size:20px;
                        color: #777;
                        line-height: 2;                    
                        margin-bottom: 40px;
                    }

                }
            }
        }
    }
}