
#header_sub_youtube{
    width: 100%; height: 80px; 
    position: relative; 
    background: rgb(72, 111, 98);
    .inner{
        width: 1180px; height: 100%; 
        position: absolute; top: 0%; left: 0%; bottom: 0%; right: 0%;
        margin: auto;
        .wrap{
            position: absolute; top: 20px; left: 0;
            a{
                margin-left: 30px;
                img{
                    width: 150px; opacity: 0.8;
                }
            }
        }
        .menuWeb{
            width: 100%;
            #gnb{
                position: absolute; top: 20px; right: 150px;
                li{
                    float: left;
                    a{
                        display: block; 
                        padding-bottom: 10px;
                        margin: 14px 60px;
                        font-size: 20px;
                        font-family: 'Karla';
                        line-height: 1;
                        color: #efefef;
                        position: relative;
                        &:last-child{
                            margin-right: 0px;
                        }
                        &::before{
                            content: '';
                            position: absolute; bottom: 0;
                            background-color: #fff;
                            height: 2px;
                            width: 0;
                            transition: 0.7s;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .util{
            position: absolute; top: 50%; right: 0; transform: translateY(-50%);
            li{
                float: left; padding-left: 20px;
                a{
                    font-size: 25px;
                    color: #dfdfdf;
                }
            }
        }
        .btnCall{
            width: 20px; height: 20px;
            position: fixed;
            top: 30px; right: 20px;
            z-index: 999;
            display: none;


            &::before{
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 0; left: 0;
                transition: 0.5s;
                
            }
            &::after{
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; bottom: 0; left: 0px;
                transition: 0.5s;  
            }
            span{
                display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 50%; left: 0px;  margin-top: -1px;
                text-indent: -99999px;
                
            }

            &.on{

                &::before{
                    top: 50%;
                    transform: rotate(45deg);
                    margin-top: -1px;
                    transition: 0.5s;
                }
                &::after{
                    bottom: 50%;
                    transform: rotate(-45deg);
                    margin-bottom: -1px;
                    transition: 0.5s;
                }
                span{
                    display: none;
                }
            }
        }

        .menuMo{
            width: 300px; height: 100vh; background-color: rgba(171, 188, 207, 0.8) ;
            position: fixed; top: 0px; left: -700px;
            z-index: 20;
            transition: 0.5s;
            &.on{
                left: 0px;
            }
            h1{
                padding-top: 50px; padding-left: 10px;
                border-bottom: 3px solid #efefef;
                width: 100%;
                text-align: center;
                a{
                    img{
                        width: 100px;
                        margin-bottom: 10px;
                    }
                }
            }

            #gnbMo{
                li{
                    a{
                        display: block;
                        width: 100%; padding: 30px;
                        border-bottom: 1px solid #fff;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: 'Karla';
                        color: #fff;
                        text-align: center;
                        &:hover{
                            background: #999;
                        }
                    }

                }
            }
            #utilMo{
                width: 100%;
                display: flex;
                position: absolute; bottom: 0;
                li{
                    width: 100%;
                    a{
                        display: block;
                        width: 100%; padding: 30px;
                        border-bottom: 1px solid #fff;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: 'Karla';
                        color: #fff;
                        text-align: center;
                        background: #999;
                        opacity: 0.8;

                        &:hover{
                            background: rgba(171, 188, 207, 0.8);
                        }
                    }
                }
            }
        }
    }
}


.youtube{
    .sub_visual{
        img{
            width: 100%; height: 100%;
            object-fit: cover;
        }
    }
    .inner{
        border-top: 2px solid rgb(72, 111, 98) ;
        .subtitle{
            border: 1px solid rgb(72, 111, 98);
        }
        .vidList{
            width: 100%; display: flex; 
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        
            margin-top: 150px;
        
            
        
            article{
                width: 100%; height: 300px;
                margin-bottom: 80px;
                display: flex;
                position: relative; 
                padding: 20px;
                transition: 0.5s;
                &:hover{ background: #efefef;}
            
                
        
                .pic{
                    display: block;
                    width: 100%; height: 100%;
                    
                    position: relative; 
                    overflow: hidden ;
                    &:hover div:nth-child(1){width: 90%; transition: all 0.5s;}
                    &:hover div:nth-child(2){height: 90%; transition: all 0.5s; transition-delay: 0.5s;}
                    &:hover div:nth-child(3){width: 90%; transition: all 0.5s; transition-delay: 1s;}
                    &:hover div:nth-child(4){height: 90%; transition: all 0.5s; transition-delay: 1.5s;}
                    &:hover p{
                        opacity: 1; transition: 0.5s;
                    }
                    div{
                        position: absolute;
                        background-color: rgba(250,250,250,0.8); 
                        opacity: 0.9;
                        z-index: 3;
                        &:nth-child(1){
                            top: 5%; left:5%; height: 10px; width: 0;
            
                        }
                        &:nth-child(2){
                            top: 5%; right: 5%; width: 10px; height: 0;
                            
                            
                        }
                        &:nth-child(3){
                            bottom: 5%; right: 5%; height: 10px; width: 0;
                                                          
                        }
                        &:nth-child(4){
                            bottom: 5%; left: 5%; width: 10px; height: 0;
                          
                        }
                    } 
        
        
        
                    >img{
                        width: 100%; height: 100%; object-fit: cover;
                    }
                    >p{
                        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
                        font-size: 50px;
                        font-family: 'arial';
                        font-weight: bold;
                        color: rgb(250,250,250);
                        opacity: 0;
                        z-index: 5;
                    }
                }
                .con{
                    width: 100%; height: 40%; padding: 20px;
                    h2{
                        font-family: 'Gowun Dodum';
                        font-size: 20px;
                        line-height: 1.2;
                        font-weight: bold;
                        color: #444;
                        margin-bottom: 15px;
                    }
                    p{
                        font-family: 'Gowun Dodum';
                        font-size: 14px;
                        line-height: 1.4;
                        color: #666;
                        margin-bottom: 20px;
                    }
                    span{
                        font-family: 'Karla';
                        font-size: 16px;
                        line-height: 1;
                        font-weight: bold;
                        color: rgb(123, 165, 213);
                        margin-bottom: 15px;
                    }
                }
            }
        }
        
        figure.pop{
            width: 100%; height: 100vh;
            position: fixed; top: 0; left: 0;
            background: rgba(0,0,0,0.8);
        
            overflow: hidden;
        
            padding: 5vw;
            display: flex; justify-content: center; align-items: center;
        
            .btnClose{
                position: absolute; top:10px; right: 100px; color: #fff;
                cursor: pointer;
                font-size: 50px;
            }
        }
    }
    

}


@media screen and (max-width:1179px){
    #header_sub_youtube{
        width: 100%;
        .inner{
            width: 100%; height: 100%; 
            .wrap{
                position: absolute; top: 25px; left: 50%; transform: translateX(-50%);
                transition: 0.5s;
                a{
                    img{
                        width: 150px;
                    }
                }
            }
            .menuWeb{
                display: none;    
            }
    
            .btnCall{
                display: block;
            }
        }
    }

    .youtube{
        .inner{
            width: 100%; 
            figure.pop{
                width: 100%; height: 100vh;
                position: fixed; top: 0; left: 0;
                background: rgba(0,0,0,0.8);
            
                overflow: hidden;
            
                padding: 5vw;
                display: flex; justify-content: center; align-items: center;
            
                .btnClose{
                    position: absolute; top:10px; right: 10px; color: #fff;
                    cursor: pointer;
                    font-size: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 539px) {
    .youtube{
        .inner{
            .vidList{
                article{
                    .con{
                        p{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
